
@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  background: url(/public/Group\ 5448.png) no-repeat #202020 ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
 
}
textarea{
  resize: none;
}
a:hover{
  text-decoration: underline;

}

.navli:hover{
  
  color: rgb(26, 245, 26);  
}
h1{
  letter-spacing: 8px;
}

.smm{
  color: black;
  -webkit-text-stroke-width: 5px;
  -webkit-text-stroke-color: #DBFF45;
}
@media screen and (max-width: 1180px){
  html{
    background: none;
  }
}
@media screen and (min-width: 1180px){
  
  #text-1{
    width: 250px;
    margin-top: 20px;
    
  }
  #top-1{
     margin-top: 10px;
  }
  #top-2{
    margin-left: -40px;
  }
  #text-2{
    width: 250px;
    margin-left: -10px;
    margin-top: 20px;
    width: 300px;
    
  }
  #text-3{
    width: 250px;
    margin-top: 20px;
    
    
  }
  #top-3{
    margin-top: 25px;
    margin-left: -60px;
  }
  #text-4{
    width: 250px;
    margin-top: 20px;
  
    
  }
  #top-4{
    margin-left: -100px;
  }
  #top-5{
      margin-left: 80px;
  }
  #text-5{
    width: 350px;
  }
  #text-6{
    width: 350px;
  }
  #top-6{
    margin-left: 320px;
  }
  
  #info-2{
    margin-left: -30px;
  }
  #info-3{
    margin-left: -60px;
  }
  
  #work-2{
    margin-left: -50px;
  }
  #work-3{
    margin-left: -150px;
  }
  #work-3 p{
       width: 250px ;
  }
  
  #work-4{
    margin-left: 180px;
  }
  #work-5{
    margin-left: 100px;
  }
  #work-6{
    margin-left: 40px;
  }
  #work-7{
    margin-left: 10px;
  }
  #work-8{
    margin-left: -80px;
  }
  #work-9{
    margin-left: -150px;
  }
  #work-9 p{
    width: 230px;
  }
  #port-2{
    display: flex;
    gap: 200px;
    margin-left: -80px;
  }
  #port-2 img:nth-child(2){
     width: 100%;
     margin-left: -280px;
     margin-right: 30px;
  }
  #port-2 img:nth-child(1){
    margin-right: 70px;
    width: 400px;
  }
  
  #hamkor-1{
    margin-top: -60px;
  }
  #hamkor-2{
    margin-left: -30px;
    margin-top: -30px;
  }
  #hamkor-3{
    margin-left: -40px;
    margin-top: -40px;
  }
  #hamkor-4{
    margin-left: -20px;
  }
  
  #hamkor-6{
    margin-left: -30px;
  }
  
  #hamkor-7{
    margin-left: -60px;
  }
  
  #hamkor-8{
    margin-top: -20px;
  }
  
  
}
.nav-menu{
  display: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
@media screen and (max-width: 1024px) {
  .navli{
    display: none;
  }
  .smm{
    -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #DBFF45;
  }
  .nav-contact{
    display: none;
  }
  .nav-menu{
    display: block;
  }
  .logo-spin{
    display: none;
  }
  .animat{
    display: none;
  }
}

